@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /*
    Custom tailwindcss classes
  */

  --shadow-header_shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  --color-dark_black: #1b1d1e;
  --color-purple_blue: #4928fd;
  --color-purple: #ba81ee;
  --color-blue: #70b5ff;
  --color-orange: #ffaf68;
  --color-green: #79d45e;
  --color-pink: #f4889a;
  --color-blue_gradient: #d9f3fc;
  --color-yellow_gradient: #fdf1d3;
  --color-pale-yellow: #f6e683;
  --color-dark_yellow_gradient: #443f32;
  --color-dark_blue_gradient: #303d42;

  --breakpoint-Xsm: 425px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1024px;
  --breakpoint-xxl: 1280px;
  --breakpoint-2xl: 1440px;

  --spacing-25: 25rem;
  --spacing-32: 32rem;
  --spacing-38: 38rem;
  --spacing-48: 48rem;
  --spacing-50: 50rem;
  --spacing-3_75: 3.75rem;
  --spacing-6_5: 6.5rem;
  --spacing-18_75: 18.75rem;
  --spacing-31_25: 31.25rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(20.463% 0.00002 271.152);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer base (Global Styles) */
@layer base {
  /* Apply border and outline to all elements */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  /* Default styles for body */
  body {
    @apply bg-background text-foreground overflow-x-hidden;
    @apply text-base font-normal;
  }
}

/* @layer components (Reusable UI Components) */
@layer components {
  /* Custom button component */
  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg;
  }

  /* Custom card component */
  .card {
    @apply bg-white shadow-lg rounded-lg p-6;
  }
}

/* @layer utilities (Custom Utilities) */
@layer utilities {
  /* Custom utility for instrument font */
  .instrument-font {
    font-family: "Instrument Serif", serif;
  }

  /* Custom utility for hero mask */
  .hero-mask {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  /* Utility for container */
  .container::before,
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: var(--color-border);
    z-index: 60;
  }

  .container::before {
    left: 0;
  }

  .container::after {
    right: 0;
  }

  .container {
    @apply relative w-full max-w-[82.8rem] my-0 mx-auto py-0;
  }

  /* SECTIONS */
  section {
    position: relative;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--color-border);
  }

  @media (min-width: 768px) {
    section {
      padding: 1rem 3rem;
    }
  }

  /* LEFT TRIANGLE */
  section::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;

    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--color-border);
  }

  /* RIGHT TRIANGLE */
  section::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;

    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--color-border);
  }

  /* Scroll behavior and font-family for HTML */
  html {
    scroll-behavior: smooth;
    font-family: "Inter Tight", sans-serif;
  }
}
